html {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


a,
a:visited {
    text-decoration: none;
    color: inherit;
}

header {
    max-height: 88px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-menu {
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
}

.nav-menu__list {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-menu__list li {
    margin-right: 72px;

}

.nav-menu__list li:last-of-type {
    margin-right: 0;

}

.content-img {
    background-color: #00BDC9;
    padding: 92px 0px 92px 0px;
}
.content-img img {
    display: block;
    margin: 0 auto;
}

.content-text {
    margin: 0 auto;
    padding: 88px 0 88px 0;
    max-width: 856px;
}

.content-text__header {
    color: #000;
    font-size: 48px;
    text-align: center;
    font-weight: 600;
    line-height: 135%;
}

.content-text__paragraph {
    margin-top: 40px;
    color: #161616;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%; 
}

.content-text__paragraph-blue {
    color: #04959E;
    font-weight: 600;
}

.content-text__list {
    margin-top: 24px;
    padding-left: 1.5em;
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.button-div {
    margin: 40px auto 0 auto;
    padding: 10px 24px;
    width: 145px;
    height: 44px;
    background-color: #04959E;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
}

.button-div a {
    display: block;
}

footer {
    height: 60px;
}
.footer-line {
    border: #161616 1px solid;
    border-bottom: none;
}

.footer-text {
    padding: 16px 0 16px 0;
    color: #161616;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    border-top: #161616 1px solid;
}